
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background: #FCFCFC;
}

.content {
	width: 1105px;
	margin: 0 auto;
	position: relative;
}

  @media (max-width: 500px) {
	  .content {
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
  }


.app > .content {
	margin: 0 auto;
	max-width: 1105px;
	position: relative;
}


