.characterList {

}

.characterList > .characterList-animation {
	display: flex;
	flex-flow: wrap;
}

.characterList > .characterList-animation .character {
	margin: 0 15px;
	height: 200px;
	overflow: hidden;
}

// .characterList > *:first-child {
// 	margin: 0 15px 0 0;
// }

// .characterList > *::last-child {
// 	margin: 0 0 0 15px;
// }