.character-list {
	display: flex;
	flex-flow: wrap;
	// margin: -20px;
}

@media (max-width: 500px) {
	.character-list {
		flex-flow: column;
	}
}



.character-list > * {
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
}

@media (max-width: 500px) {
	.character-list > * {
		width: 100%;
	}
}