.character-list > .character-list-animation-container {
	display: flex;
	flex-flow: wrap;
}

@media (max-width: 500px) {
	.character-list > .character-list-animation-container {
		flex-flow: column;
	}
}



.character-list > .character-list-animation-container > * {
	width: calc( 100% * .25 - 2%);
}

@media (max-width: 500px) {
	.character-list > .character-list-animation-container > * {
		width: 100%;
	}
}