.character {
	display: block;
	min-width: 250px;
	width: 250px;
	height: 300px;
	background: white;
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
				0 1px 10px 0 rgba(0, 0, 0, 0.12),
				0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.character > * {
	transition: box-shadow ease-in-out 150sms;
}

.character .character-name {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-style: italic;
	/*color: rgba( 255, 255, 255, .8);
	*/
	/*color: rgba( 0, 0, 0, .8);*/
	font-size: 30px;
	text-align: left;
	margin-bottom: 7px;
	white-space: nowrap;
	overflow: hidden;
}

.character .character-icon {
	overflow: hidden;
}

.character .character-stats-container {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}

.character > .character-stats-container > * {
	min-width: 20%;
}




.characterFullView {



	// box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    //               0 1px 10px 0 rgba(0, 0, 0, 0.12),
    //               0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.characterFullView > .scrollable {
	overflow-y: scroll;
}

.characterSection {
	position: relative;
}

.characterSection-animation > * {
	position: absolute;
}