
//so the two character sections can animate correctly.
.character-section-animation > .animation-item-container {
	position: absolute;
}

// card
.character-card {
	color: #4B4F56;
	display: block;
	height: 300px;
	background: white;
	position: relative;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);

	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), transform 0.20s ease-in-out;
}

.character-card:hover {
	transition-delay: 0s !important;
	transform: translate( 0, -10px );
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
				0  6px 30px 5px rgba(0, 0, 0, 0.12),
				0  8px 10px -5px rgba(0, 0, 0, 0.4);
}

@media (max-width: 500px) {
	.character-card {
		height: 100px;
	}
}

.character-card-inner {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

.character-card-name {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 30px;
	text-align: left;
	margin-bottom: 7px;
	white-space: nowrap;
	overflow: hidden;
}

@media (max-width: 500px) {
	.character-card-name {
		font-size: 20px;
	}
}

.character-card-stats {
	padding: 5px;

	border-top: 1px solid #E9EBEE
}

















// character abr
.character-bar-container {
	overflow: hidden;
}
.character-bar {
	height: 50px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.character-bar-block {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	transform: skewX( -10deg )
}

.character-bar-image {
	width: 80%;
	height: auto;
}

.character-bar-list {
	margin: 0;
	padding: 0;
	display: flex;
}










.character-tile {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}


.character-chart {
	background: #555D5A;

}