
.gopherHeader {
	z-index: 3;
	overflow: hidden;
	position: relative;
	height: 200px;
	transition: height 250ms ease-in-out;
}

.gopherHeader-is-search {
	height: 100%;
}

.gopherHeader-is-search > .gopher-header-inner {
	height: 100%;
}

.gopher-header-inner {
	height: 200px;
	transition: height 150ms ease-in-out;
}

.gopher-header-bg {
	background: #2C3A4B;
	position: absolute;
	width: 100%;
	height: 100%;
}

.gopher-header-bg-color-splash {
	height: 6px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(150deg,#FF6F00 15%,#ffab00 70%,#ffca28 94%);
}