.stat {

}

.stat-name {
	background: white;
	padding: 0 8px 0 0;
}

.stat-value {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 24px;
	color: white;
}

.statCategory {
	margin: 15px;
	display: flex;
	flex-flow: wrap;
	background: #1C1C1D;
}


.stat-small-value {
	// font-weight: 100;
	font-size: 24px;
	display: block;
}

.stat-small-name {
	font-size: 18px;
	display: block;
}